@page "/"
@using DanielCrenna.Shared
@using Markdig
@inject HttpClient Http

@foreach (var post in _posts ?? Enumerable.Empty<BlogPost>())
{
    <h1>@post.Title</h1>
    @(new MarkupString(Markdown.ToHtml(post.Body, _pipeline)))
}

<SurveyPrompt Title="How is Blazor working for you?"/>

@code
{
    private IEnumerable<BlogPost> _posts;
    private MarkupString _post;

    private MarkdownPipeline _pipeline;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        _pipeline = new MarkdownPipelineBuilder()
            .UseAdvancedExtensions()
            .Build();
    }

    protected override async Task OnInitializedAsync()
    {
        _posts = await Http.GetFromJsonAsync<IEnumerable<BlogPost>>("posts");
    }
}