@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    <div class="top-row px-4">
        <NavLink href="/about" class="ml-md-auto">About</NavLink>
    </div>

    <div class="content px-4">
        @Body
    </div>
    
    <footer class="content px-4 border-top footer text-muted">
        <NavLink href="/privacy">Privacy</NavLink> | 
        <NavLink href="/meta">Meta</NavLink>
    </footer>
</div>